*{
    font-family: 'Open Sans', sans-serif;
}
a:focus{
    text-decoration: none;
}
#header{
    padding: 20px 0;
}
#logo{
    width: 300px;
}
#lang{
    text-align: right;
    margin-top: 20px;
}
#lang ul{
    list-style: none;
}
#lang ul li{
    display: inline-block;
    font-size: 12px;
}
#lang ul li a{
    background: #0093d6;
    margin: 0px;
    padding: 5px;
    color: #fff;
}
#lang ul li .active{
    background: #39c0f0;
}
#nav{
    background: #05548b!important;
    padding: 10px;
}
#nav a{
    color: #fff;
}
#nav a:hover{
    color: #aaa;
}
#nav ul li{
    margin-right: 10px;
}
#footer{
    background:#05548b;
    border-top: 5px solid #ed742c;
    color: #fff;
    font-size: 13px;
}
#footer ul li a{
    color: #fff;
}
#logoFooter img{
    width: 300px;
}
#sectionSearch{
    background: #0093d6;
}
#speakBtn{
    padding-left: 10px;
}
#assFooter{
    background: #f8f9fa;
    color: #51c6fb;
    font-size: 12px;
}
#assFooter hr{
    background: #cac3fd;
}
#assFooter img{
    max-width: 500px!important;
}
#footerTermos, #footerTermos a{
    color: #157daf;
}
.padding1{
    padding: 50px 0px;
}
.padding2{
    padding: 30px 0px;
}
.padding3{
    padding: 30px 0px 10px 0;
}
.img150{
    width: 150px;
}
.postNext{
    text-align: right;
}
.color1p:nth-child(even){
    background: #f2f2f2;
}
.color2{
    background-color: #f8f9fa;
}
.ast-container {
    display: inline !important;
}
.ast-separate-container {
    background-color: #fff;
}
header[class*='ast-'] {
    display: none;
}

.box1{
    margin-bottom: 10px;
    font-size: 13px;
    padding: 10px 10px 5px 10px;
    background: #fff;
    transition: background .5s ease;
}
.box1:hover{
    background: #eee;
}
.box1-overflow{
    max-height: 200px;
    overflow-x: auto;
}
.box1 h4{
    font-family: sans-serif;
    background: linear-gradient(328deg, #2482a0 0%, #73a0be 100%);
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}
.box2 {
    display: inline-block;
    width: 48.5%;
    margin-right: 10px;
    margin-top: 10px;
}
.card-box {
    background: #f8f8ff;
}
.card-grid {
    display: flex;
    flex-wrap: wrap;
}
.card-grid-2 {
    flex-wrap: wrap;
}
.box3 {
    margin-right: 10px;
    margin-top: 10px;
}

.box3 .card-body{
    padding: 5px 10px 5px 10px;
}
.box3 .card-title{
    line-height: 0;
    margin-bottom: 5px;
    display: inline;
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%2305548b' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%2305548b' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
}
.title1{
    font-family: 'Roboto', sans-serif;
    border-color: #ddd;
    color: #333;
}
.title2{
    color: #2482a0;
    position: relative;
    margin-bottom: 40px;
}
.session1:hover .title2::after{
    width: 150px;
    margin-left: 10px;
}
.title2::after{
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0;
    height: 7px;
    width: 80px;
    background: linear-gradient(328deg, #d2d2d2 0%, #2482a0 100%);
    border-radius: 5px;
    transition: all .5s ease;
}

.viewBt h3 i{
    padding-right: 10px;
    color: #05548b;
    font-size: 30px;
}
.viewBt h5 i{
    padding-right: 10px;
    color: #0093d6;
    font-size: 16px;
}
.show-more {
    margin: 6px 0;
}
[class^='lang-item'] img {
    display: none;
}
/*
.slick-prev:before {
    color: #0093d6;
}
.slick-next {
    right: 0;
}
.slick-next:before {
    color: #0093d6;
}
*/
/******************** Cores **************/
.aSpan{
    padding: 3px 5px;
    border-radius: 3px;
    min-width: 30px!important;
    text-align: center;
    color: #fff;
    font-size: 12px;
    margin-left: 0;
    margin-bottom: 5px;
    display: inline-block;
    background:#4c9e38;
    cursor: pointer;
}
.aSpan:hover{
    opacity: .8;
    text-decoration: none;
    color: #fff;
}
.bp-link { text-align: center; }

/*********** HOME ***********/
#banner{
    height: 400px;
    overflow:hidden;
    text-align: center;
    position: relative;
}
.destaqueBP{
    padding: 10px;
    border:1px solid #eee;
    border-left-width: 3px;
    margin-bottom: 15px;
}
.destaqueBP p{
    font-size: 14px;
}
.tutorVideo{
    margin-bottom: 30px;
}
.tutorVideo:hover{
    opacity: .8;
}
.tutorVideo img{
    margin-bottom: 10px;
}
.bpImg img{
    width: 250px;
    float: left;
    margin: 0 20px 20px 0;
}
.bpSilimares{
    padding: 20px 10px;
    border:1px solid #ddd;
    margin-top: 30px;
}
.bpBtAction{
    /*background-color: #f8f9fa;*/
    color: #999;
    margin-bottom: 30px;
    padding: 0px;
    text-align: center;
    border-radius: 5px;
}
.addthis_toolbox span {
    display: flex;
}
.boxFiltros{
    margin-bottom: 30px;
}
#speakBtn{
    position: absolute;
    font-size: 20px;
    top: 5px;
    left: 15px;
    z-index: 10;
    color: #999;
}
#speakBtn:hover{
    color: #000;
}
#fieldSearch{
    padding-left: 30px;
    height: calc(1.5em + 0.75rem + 2px);
}
.btnA{
    margin-top: 3px;
    color: #fff;
}
.border1{
    margin-bottom: 1rem;
    border: 1px solid #c3e6cb;
    border-radius: .25rem;
    padding: .75rem 1.25rem;
}
.carousel-caption{
    bottom: 10px;
    padding: 0;
}
.carousel-caption h5, .carousel-caption p{
    color: #fff;
    padding: 5px 20px;
    margin-bottom: 0;
    text-shadow: 0px 0px 5px #000;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    width: 2rem;
    height: 2rem;
}
.goalCheck{
    position: static;
    margin-top: auto;
    margin-left: auto;
    vertical-align: middle;
}
.flagsFiltros label{
    border-bottom: 2px solid #ddd;
    cursor: pointer;
}
.flagsFiltros img{
    width: 30px;
}
.bp-filters {
    background-color: #f8f9fa;
    border-radius: 5px;
    padding: 20px 10px;
}
.bp-filters .badge {
    font-size: 13px;
}
.bp-filters .aSpan {
    margin-top: 5px;
}
.bp-filters table {
    margin-bottom: 0;
    border:  0;
}
.bp-filters table tr td {
    vertical-align: middle;
    border: solid #dee2e6;
    border-width: 1px 0 0 0;
}
.filter-item-active {
    display: block;
    text-align: center;
    text-transform: uppercase;
}
.filter-item-del {
    display: block;
    text-align: center;
}
.filter-item-del i {
    color: #808080;
}
.filter-item-del i:hover {
    color: #000;
}
.filter-item {
    border-top: 1px solid rgba(0,0,0,.1);
    display: block;
    padding: 10px 0;
}

/************************** Pagination *********************/
.pagination {
    margin: 20px 0 20px 0;
}
.pagination-centered {
    /* text-align: center; */
    justify-content: center;
}
.pagination ul {
    display: inline-block;
    margin-bottom: 0;
    /* margin-left: 20px; */
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    padding: 0;
}
.pagination ul > li {
    display: inline;
    line-height: 20px;
}
.pagination ul > li > a:hover, .pagination ul > li > a:focus, .pagination ul > .active > a, .pagination ul > .active > span {
    background-color: #f5f5f5;
}
.pagination ul > li > a, .pagination ul > li > span {
    float: left;
    padding: 7px 9px;
    line-height: 20px;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-left-width: 0;
}
.pagination ul > .disabled > span, .pagination ul > .disabled > a, .pagination ul > .disabled > a:hover, .pagination ul > .disabled > a:focus {
    color: #999999;
    cursor: default;
    background-color: #ffffff;
}
.pagination ul > li > a:hover, .pagination ul > li > a:focus, .pagination ul > .active > a, .pagination ul > .active > span {
    background-color: #f5f5f5;
}
.pagination ul > .active > a, .pagination ul > .active > span {
    color: #999999;
    cursor: default;
}
.pagination ul > li:first-child > a, .pagination ul > li:first-child > span {
    border-left-width: 1px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-topleft: 4px;
}
.title-cover{
   background: linear-gradient(328deg, rgba(35,130,160,1) 0%, rgba(115,160,190,1) 100%);
   border-radius: 10px;
   color: #fff;
   padding: 20px;
   margin-bottom: 15px;
   font-size: 35px;
   border: 5px solid rgba(35,130,160,.5);
   font-family: sans-serif;
}
.card-resp{
    border-left: 5px solid #ffa500;
}
.card-member{
    border-left: 5px solid #00FFFF;
}
.card-resp:hover, .card-member:hover{
    border-left-color: #999;
}
.avatar{
    width: 50px;
}
.box3 {
    margin-right: 10px;
    margin-top: 10px;
}
.margin1{
    margin-bottom: 10px;
}
.relatos-thumb{
    border: 1px solid #ddd;
    width: 150px;
    height:150px ;
    float: left;
    margin:1%;
    overflow: hidden;
    position: relative;
    transition: all .5s ease;
}
.relatos-thumb:hover{
    border:1px solid #999;
}
.relatos-thumb img{
    padding: 10px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#header-title{
    background: url("../images/foto1.jpg") no-repeat center top;
    background-size: 100%;
}
#header-title .row{
    height: 240px;
    position: relative;
    margin-top: 30px;
    margin-bottom: 15px;
}
#title-relatos{
    display: inline-block;
    border-radius: 0 20px 20px 0;
    color: #fff;
    background: #2482a0;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 15px;
    position: absolute;
    top: -20px;
    left: 15px;
}
#header-title h1 {
    position: absolute;
    text-align: center;
    top:50%;
    width: 90%;
    font-family: sans-serif;
    font-size: 26px;
    transform: translate(0, -50%);
}
#accordionArchive .card-header h2 button{
    font-family:sans-serif;
}
.boxs-links a{
    word-wrap: break-word;
}
#accordionArchive .card-header{
    border-left: 3px solid #2482a0 ;
}
#accordionArchive .card-body{
    border-left: 5px solid #f2f2f2 ;
}
#accordionArchive .card-header button:focus {
    box-shadow: none;
}
.card-header .svg-inline--fa{
    margin-right: 10px;
}
#accordionArchive .btn-link:focus,
#accordionArchive .btn-link:hover{
    text-decoration: none;
    background:none;
    border-color:#f7f7f7;
}
#accordionArchive .btn-link{
    color:#007bff;
}
#accordionArchive .btn-link:hover{
    color:#194575;
}
.breadcrumb{
    background: #fff;
}
#title-header, .title-header{
    border-bottom:2px solid #ddd;
    padding: 5px 10px;
    font-size: 30px;
    font-weight: bold;
}
.title-result{
    background: #ddd;
    margin: -15px 0 20px 0;
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 0 0 10px 10px;
    display: inline-block;
}
.relatos-search .container{
    background:none!important;
}
.relatos-breadcrumb .breadcrumb{
    margin-top:10px!important;
    height:auto!important;
}
/************************** Breakpoints *********************/
@media (max-width: 1200px){
    #header-title{
        max-height: 200px;
        font-size: 22px;
        margin-bottom: 10px;
    }
    #header-title h1{
        font-size: 20px;
        top: 40%;
    }
}
@media (max-width: 992px){
    #header-title{
        max-height: auto;
        background-position: left;
        background-size: cover;
    }
    #header-title h1{
        background: rgba(255, 255, 255, 0.7);
        padding: 10px;
        font-weight: bold;
        font-size: 16px;
    }
}
@media (max-width: 768px){
    fieldset legend{
        font-size: 14px;
    }
    #lang{
        text-align: center;

    }
    #lang ul li{
        font-size: 10px;
    }
    #logoFooter{
        margin-bottom: 20px;
    }
    #assFooter img {
        max-width: 90%!important;
    }
    #banner{
        display: none;
    }
    .homeBoxDestaque{
        padding:10px 10%;
    }
    .padding1{
        padding: auto!important;
    }
    #footerTermos div{
        text-align: center!important;
    }
    .postPrev, .postNext{
        text-align: center;
    }
}
